{% extends "base.html" %} 
{% load static %}

{% block title %} 
My Forum Discussion 
{% endblock %} 

{% block css_files %}
  <link rel="stylesheet" href="{% static "Discussion/home.css" %}"/>
{% endblock %}

{% block content %}

<div id="Forum">
  <div class="title"> 
    <h1>ALL-TECH FORUM</h1>
  </div>

  <div class="access">
  {% if user.is_authenticated %}
    <div >
      <form action="{% url 'logout' %}" method="post">
        {% csrf_token %}
        <div><p><a href="{% url 'password_change' %}">Password Change</a></p></div>
        <button class="logout-buttun">Log Out</button></a>
      </form>
    </div>
    {% else %}
    <p><a href="{% url 'password_reset' %}">Password Reset</a></p>
    <div><a href="{% url 'signup' %}"><button class="Inscription-buttun">Inscription</button></a> </div>
    <div><a href="{% url 'login' %}"><button class="login-buttun">Log in</button></a> </div>
    {% endif %}
  </div>
</div>

<section class="Rubrique">
  <div id="Groupes">
    <h2> Forum constituated  of {{nbr_groups}} - <a href="{% url 'groupe' %}">Groups</a> | </h2>
  </div>
  <div id="Membres">
    <h2>  {{nbr_members}}- Members |</h2>
  </div>
  <div id="Messages">
    <h2>  {{nbr_messages}} - Messages</h2>
  </div>
</section>

<section>
  <div class="authenticate">
    {% if user.is_authenticated %}
      <h2>Welcome {{ user.username }}!</h2>
    {% else %}
      <p>You are not logged in.</p><br/>
      <p>Please log in or register yourself</p>
    {% endif %}
  </div>
</section>

<div>
  <h2>Latest Messages</h2>
</div>
<section class="main">
  {% for message in latest_messages %}
  <div class="message">
    <a href="{% url 'question' message.id %}">
      <div class="message_text" >
        <h4>{{message.message_text}}</h4>
      </div>
    </a>
    <div class="informations">
        <div class="sender">
          views = {{message.views}} |
        {% comment %} </div>
        <div class="date"> {% endcomment %}
          published on {{message.pub_date}}
        </div>
        <div>
            <a href="{% url 'question' message.id %}">
              <button class="view-bottun">Voir</button>
            </a>
        </div>
    </div>

  </div>
  <hr/>
  {% endfor %}
</section>
{% endblock %}