h2 {
    color: #feebf0;
    font-size: 24px;
    margin-bottom: 20px;
    justify-content: center;
    text-align: center;
    
  }
  
  form {
    width: 500px;
    margin: 0 auto;
    border: 3px solid rgb(43, 41, 41);
    background-color: gray;
    padding: 6px;
    justify-content: center;
    text-align: center;
  }
  
  form input[type="text"],
  form input[type="email"],
  form input[type="password"] {
    width: 90%;
    padding: 10px;
    margin-bottom: 10px;
    text-align: center;
  }
  
  form button {
    background-color: #f8eef1;
    color: #1b1313;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 10px;
    cursor: pointer;
  }
  
  form button:hover {
    background-color: #555;
  }