html {
  background-color: #bfd6ee;
}

#Groupe {
  background-color: #4479b3;
  text-align: center;
  margin-top: 20px;
  padding: 4rem 8%;
  display: flex;
  flex-direction: row;
  align-content: center;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;


}

h1 {
  color: #333;
  font-size: 32px;
}

.Quit-bottun {
  background-color: red;
  color: black;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  
}

.view-button {
  background-color: none;
  color: black;
  padding: 10px 20px;
  border: none;
  border-radius: bold;
  font-size: 16px;
  cursor: pointer;
}


.Response-bottun {
  background-color: rgb(99, 74, 82);
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 3px;
  font-size: 12px;
  cursor: pointer;
}


h2 {
  display: flex;
  font-size: 1.5em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}


#sections {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

.message {
  /* border: 1px solid; */
  margin-top: 5px;
  margin-bottom: 5px;
  display: flex;
  flex-direction: column;
}

.border {
  border: 0.5px solid rgb(24, 53, 66);
}

.informations {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}


.main {
  width: 80%;
  margin: auto;
  background-color: #eef1f5;
  padding-left: 10px;
  padding-right: 10px;
}

.message img {
  width: 2rem;
  height: 2rem;
  object-fit: cover;
  object-position: top;;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
}

#Groupe img {
  width: 6rem;
  height: 6rem;
  object-fit: cover;
  object-position: top;
  border: 3px solid white;
  border-radius: 8px;
  background-color: #ffe1bf;
  transform: rotateZ(-3deg);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
}